<section id="static_ratconfig">
    {% if analysis.static %}
        {% if analysis.static.darkcomet_config or analysis.static.njrat_config %}
            <div>
                <h4>RAT Configuration</h4>
                <div id="rat_configuration">
                    <table class="table table-striped table-bordered" style="table-layout: fixed;">
                        {% if analysis.static.darkcomet_config %}
                            <tr>
                                <th style="width: 15%;">Name</th>
                                <td>DarkComet</td>
                            </tr>
                            {% for key, value in analysis.static.darkcomet_config.iteritems %}
                                <tr>
                                    <th style="width: 15%;">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            {% endfor %}
                        {% elif analysis.static.njrat_config %}
                            <tr>
                                <th style="width: 15%;">Name</th>
                                <td>njRAT</td>
                            </tr>
                            {% for key, value in analysis.static.njrat_config.iteritems %}
                                <tr>
                                    <th style="width: 15%;">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        Nothing to display.
    {% endif %}
</section>
