{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#surialerts " data-toggle="tab">Surialerts</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="surialerts">
   {% if suricata.alerts %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>TS</th>
                <th>GID</th>
                <th>SID</th>
                <th>REV</th>
                <th>MSG</th>
                <th>CATEGORY</th>
                <th>SEVERITY</th>
                <th>PROTO</th>
                <th>SRC</th>
                <th>SPORT</th>
                <th>DST</th>
                <th>DPORT</th>
            </tr>
            {% for e in suricata.alerts %}
            <tr>
                    <td>{{e.timestamp}}</td>
                    <td>
                    {%if e.alert.gid %}
                        {{e.alert.gid}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.alert.signature_id %}
                      {{e.alert.signature_id}}
                      {% if e.moloch_sid_url %} <a href={{e.moloch_sid_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                      {% if config.display_et_portal %} <a href="https://threatintel.proofpoint.com/search?q={{e.alert.signature_id}}" target="_blank"><span class="mono">ETIntel</span></a>{% endif %}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.alert.rev %}
                        {{e.alert.rev}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.alert.signature %}
                      {{e.alert.signature}}
                      {% if e.moloch_msg_url %} <a href={{e.moloch_msg_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                      {% if config.display_et_portal %} <a href="https://threatintel.proofpoint.com/search?q={{e.alert.signature}}" target="_blank"><span class="mono">ETIntel</span></a>{% endif %}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.alert.category %}
                        {{e.alert.category}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.alert.severity %}
                        {{e.alert.severity}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.proto %}
                        {{e.proto}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.src_ip %}
                      {{e.src_ip}}
                      {% if e.moloch_src_ip_url %} <a href={{e.moloch_src_ip_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                      {% if config.display_et_portal %} <a href="https://threatintel.proofpoint.com/search?q={{e.src_ip}}" target="_blank"><span class="mono">ETIntel</span></a>{% endif %}
                       <a href="https://www.virustotal.com/en/ip-address/{{e.src_ip}}/information/" target="_blank"><span class="mono">VT</span></a>
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.src_port %}
                      {{e.src_port}}
                      {% if e.moloch_src_port_url %} <a href={{e.moloch_src_port_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.dest_ip %}
                      {{e.dest_ip}}
                      {% if e.moloch_dst_ip_url %} <a href={{e.moloch_dst_ip_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                      {% if config.display_et_portal %} <a href="https://threatintel.proofpoint.com/search?q={{e.dest_ip}}" target="_blank"><span class="mono">ETIntel</span></a>{% endif %}
                       <a href="https://www.virustotal.com/en/ip-address/{{e.dest_ip}}/information/" target="_blank"><span class="mono">VT</span></a>
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if e.dest_port %}
                      {{e.dest_port}}
                      {% if e.moloch_dst_port_url %} <a href={{e.moloch_dst_port_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Suricata Alerts</p>
    {% endif %}
    </div>
</div>
{% endblock %}
