{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#suriafiles " data-toggle="tab">Surialerts</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="surifiles">
    {% if suricata.files|length > 0 %}
        {% if suricata.suri_extracted_zip %}
            <div class="alert alert-info center"><a class="btn btn-primary btn-small" href="{% url "analysis.views.file" "zip" suricata.suri_extracted_zip %}">Download Suri Extracted</a></div>
        {% endif %}
        {% for file in suricata.files %}
            <div class="panel panel-default">
                <table class="table table-striped">
                    <tr>
                        <th style="border-top: 0;">File name</th>
                        <td style="border-top: 0;"><b>{{file.filename}}</b></td>
                    </tr>
                    <tr>
                        <th>File Size</th>
                        <td>{{file.size}} bytes</th>
                    </tr>
                    <tr>
                        <th>File Type</th>
                        <td>{{file.magic}}</th>
                    </tr>
                    <tr>
                        <th>File URL</th>
                        <td>{{file.http_uri}}
                            {% if file.moloch_uri_url %} <a href={{file.moloch_uri_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>Host</th>
                        <td>{{file.http_host}}
                            {% if file.moloch_host_url %} <a href={{file.moloch_host_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>HTTP Referer</th>
                        <td>{{file.http_referer}}</th>
                    </tr>
                    <tr>
                        <th>MD5</th>
                        <td>{{file.md5}}
                            {% if file.moloch_md5_url %} <a href={{file.moloch_md5_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>SHA1</th>
                        <td>{{file.file_info.sha1}}
                            {% if file.moloch_sha1_url %} <a href={{file.moloch_sha1_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>SHA256</th>
                        <td>{{file.file_info.sha256}}
                            {% if file.moloch_sha256_url %} <a href={{file.moloch_sha256_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>CRC32</th>
                        <td>{{file.file_info.crc32}}
                            {% if file.moloch_crc32_url %} <a href={{file.moloch_crc32_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>Ssdeep</th>
                        <td>{{file.file_info.ssdeep}}
                            {% if file.moloch_ssdeep_url %} <a href={{file.moloch_ssdeep_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>ClamAV</th>
                        <td>{{file.file_info.clamav}}
                            {% if file.moloch_clamav_url %} <a href={{file.moloch_clamav_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>Yara</th>
                        <td>
                        {% if file.file_info.yara %}
                            <ul style="margin-bottom: 0;">
                            {% for sign in file.fileinfo.yara %}
                                <li>{{sign.name}} - {{sign.meta.description}}
                                    {% if sign.moloch_yara_url %} <a href={{sign.moloch_yara_url}} target="_blank"><span class="mono">MLCH</span></a>{% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            None matched
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>VirusTotal</th>
                        <td><a href="https://www.virustotal.com/en/file/{{file.file_info.sha256}}/analysis/">Search for Analysis</a></td>
                    </tr>
                    {% if config.display_et_portal %}
                    <tr>
                        <th>ETIntel</th>
                        <td><a href="https://threatintel.proofpoint.com/search?q={{file.md5}}" target="_blank"><span class="mono">ETIntel</span></a></td>
                    </tr>
                    {% endif %}
                    {% if file.object_id or file.id %}
                    <tr>
                        <th></th>
                        {% if config.mongodb %}
                        <td><a href="{% url "analysis.views.mongo_file" "suricata" file.object_id %}" class="btn btn-primary btn-small">Download</a>
                        {% elif config.elasticsearchdb %}
                        <td><a href="{% url "analysis.views.elastic_file" "suricata" analysis.info.id file.id %}" class="btn btn-primary btn-small">Download</a>
                         {% endif %}
                         {% if file.file_info.data %}
                         &emsp;<a class="btn btn-primary btn-small" data-toggle="collapse" data-target="#{{file.sp}}{{file.dp}}{{file.id}}">Display Text</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% if file.file_info.data %}
                    <tr class="collapse" id="{{file.sp}}{{file.dp}}{{file.id}}">
                        <td colspan="2"><pre>{{file.file_info.data}}</pre></td>
                    </tr>
                    {% endif %}
                {% endif %}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info"><b>Sorry!</b> No dropped Suricata Extracted files.</div>
    {% endif %}
    </div>
</div>
{% endblock %}

