<section id="domains">
    <h4>DNS</h4>
    {% if analysis.network.dns %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Response</th>
                <th>Post-Analysis Lookup</th>
            </tr>
            {% for p in analysis.network.dns %}
            <tr>
                <td><a href="https://www.virustotal.com/en/domain/{{p.request}}/information/">{{p.request}}</a></td>
                <td>{% for a in p.answers %}{{a.type}} <a href="https://www.virustotal.com/en/ip-address/{{a.data}}/information/">{{a.data}}</a><br />{% endfor %}</td>
                <td>{{ domainlookups|get_item:p.request }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No domains contacted.</p>
    {% endif %}
</section>
