<section id="suri_http">
    <h4>Suricata HTTP</h4>
    {% if analysis.suricata.http %}
        <table class="table table-striped table-bordered" style="table-layout: fixed; width: 100%">
            <tr>
                <th width="8%">Timestamp</th>
                <th width="9%">Source IP</th>
                <th width="7%">Source Port</th>
                <th width="9%">Destination IP</th>
                <th width="9%">Destination Port</th>
                <th width="4%">Method</th>
                <th width="4%">Status</th>
                <th width="10%">Hostname</th>
                <th width="13%">URI</th>
                <th width="10%">Content Type</th>
                <th width="13%">User Agent</th>
                <th width="4%">Length</th>
            </tr>
            {% for http in analysis.suricata.http %}
            <tr>
                <td>{{http.timestamp}}</td>
                <td>{{http.srcip}}</td>
                <td>{{http.srcport}}</td>
                <td>{{http.dstip}}</td>
                <td>{{http.dstport}}</td>
                <td>{{http.method}}</td>
                <td>{{http.status}}</td>
                <td>{{http.hostname}}</td>
                <td>{{http.uri}}</td>
                <td>{{http.contenttype}}</td>
                <td>{{http.ua}}</td>
                <td>{{http.length}}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No Suricata HTTP</p>
    {% endif %}
</section>
