{% if analysis.suricata.files|length > 0 %}
    {% if analysis.suricata.suri_extracted_zip %}
       <div class="alert alert-info center"><a class="btn btn-primary btn-small" href="{% url "analysis.views.mongo_file" "zip" analysis.suricata.suri_extracted_zip %}">Download Suri Extracted</a></div>
    {% elif config.elasticsearchdb %}
       <div class="alert alert-info center"><a class="btn btn-primary btn-small" href="{% url "analysis.views.elastic_file" "zip" analysis.info.id "files" %}">Download Suri Extracted</a></div>
    {% endif %}
    {% for file in analysis.suricata.files %}
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr>
                    <th style="border-top: 0;" width="15%">File name</th>
                    <td style="border-top: 0;"><b>{{file.filename}}</b></td>
                </tr>
                <tr>
                    <th>File Size</th>
                    <td>{{file.size}} bytes</td>
                </tr>
                <tr>
                    <th>File Type</th>
                    {% if file.file_info.type %}
                    <td>{{file.file_info.type}}</td>
                    {% else %}
                    <td>{{file.magic}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>File URL</th>
                    <td>{{file.http_uri}}</td>
                </tr>
                <tr>
                    <th>Host</th>
                    <td>{{file.http_host}}</td>
                </tr>
                <tr>
                    <th>HTTP Referer</th>
                    <td>{{file.http_referer}}</td>
                </tr>
                <tr>
                    <th>MD5</th>
                    <td>{{file.md5}}</td>
                </tr>
                <tr>
                    <th>SHA1</th>
                    <td>{{file.file_info.sha1}}</td>
                </tr>
                <tr>
                    <th>SHA256</th>
                    <td>{{file.file_info.sha256}}</td>
                </tr>
                <tr>
                    <th>CRC32</th>
                    <td>{{file.file_info.crc32}}</td>
                </tr>
                <tr>
                    <th>Ssdeep</th>
                    <td>{{file.file_info.ssdeep}}</td>
                </tr>
                <tr>
                    <th>ClamAV</th>
                    <td>{{file.file_info.clamav}}</td>
                </tr>
                <tr>
                    <th>Yara</th>
                    <td>
                    {% if file.yara %}
                        <ul style="margin-bottom: 0;">
                        {% for sign in file.fileinfo.yara %}
                            <li>{{sign.name}} - {{sign.meta.description}}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        None matched
                    {% endif %}
                    </td>
                </tr>
                {% if file.object_id or file.id %}
                <tr>
                    <th></th>
                    {% if config.mongodb %}
                    <td><a href="{% url "analysis.views.mongo_file" "suricata" file.object_id %}" class="btn btn-primary btn-small">Download</a>
                    {% elif config.elasticsearchdb %}
                    <td><a href="{% url "analysis.views.elastic_file" "suricata" analysis.info.id file.id %}" class="btn btn-primary btn-small">Download</a>
                    {% endif %}
                    {% if file.file_info.data %}
                    &emsp;<a class="btn btn-primary btn-small" data-toggle="collapse" data-target="#{{file.sp}}{{file.dp}}{{file.id}}">Display Text</a>
                    {% endif %}
                    </td>
                </tr>
                {% if file.file_info.data %}
                <tr class="collapse" id="{{file.sp}}{{file.dp}}{{file.id}}">
                    <td colspan="2"><pre>{{file.file_info.data}}</pre></td>
                </tr>
                {% endif %}
                {% endif %}
            </table>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info"><b>Sorry!</b> No dropped Suricata Extracted files.</div>
{% endif %}
