<section id="udp">
    <h4>UDP</h4>
    {% if analysis.network.udp %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>IP Address</th>
            <th>Port</th>
        </tr>
        {% for conn in analysis.network.udp %}
        <tr>
            {% if conn.dst|slice:":7" != "192.168" %}
            <td><a href="https://www.virustotal.com/en/ip-address/{{conn.dst}}/information/">{{conn.dst}}</a></td>
            <td>{{conn.dport}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No UDP connections.</p>
    {% endif %}
</section>
