<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th width="7%">Time</th>
            <th width="3%">TID</th>
            <th width="8%">Caller</th>
            <th width="15%">API</th>
            <th width="45%">Arguments</th>
            <th width="5%">Status</th>
            <th width="11%">Return</th>
            <th width="6%">Repeated</th>
        </tr>
    </thead>
    <tbody>
    {% for call in chunk.calls %}
        <tr class="{{call.category}}">
            <td>{{call.timestamp}}</td>
            <td>{{call.thread_id}}</td>
            <td>{{call.caller}}<br />{{call.parentcaller}}</td>
            <td><strong>{{call.api}}</strong></td>
            <td style="word-wrap: break-word;">
                {% for argument in call.arguments %}
                    <span class="gray">{{argument.name}}:</span>
                    <span class="mono">
                        {% if argument.pretty_value %}
                            {{argument.pretty_value}}
                        {% else %}
                            {{argument.value}}
                        {% endif %}
                    </span><br />
                {% endfor %}
            </td>
            <td>
                {% if call.status %}
                    success
                {% else %}
                    failed
                {% endif %}
            </td>
            {% if call.pretty_return %}
                <td style="word-wrap: break-word"><span class="mono">{{call.pretty_return}}</span></td>
            {% else %}
                <td><span class="mono">{{call.return}}</span></td>
            {% endif %}
            <td>
                {% if call.repeated > 0 %}
                    {{call.repeated}}
                    {% if call.repeated > 1 %}
                        times
                    {% else %}
                        time
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
